<div class='question-tile'>
  <div class='row'>
    <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12'>
      <div class='col-lg-5 col-md-5 col-sm-5 col-xs-5 side-by-side-container'>
        <%= image_tag question.image_one.url(:medium) %>
        <br>
        <h5 class='text-center'>
          <%= question.option_one %>
        </h5>

      </div>
      <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2 '>
        <div class='text-center'>
          <h4><span class='glyphicon glyphicon-menu-left'></span> OR
            <span class='glyphicon glyphicon-menu-right'></span></h4>
        </div>
      </div>
      <div class='col-lg-5 col-md-5 col-sm-5 col-xs-5 side-by-side-container'>
        <%= image_tag question.image_two.url(:medium) %>
        <br>
        <h5 class='text-center'>
          <%= question.option_two %>
        </h5>

      </div>

    </div>

  </div>

</div>
