$yellow-color: #c7943e; //orange
$white-color: #fbfbfb;
$orange-color: #f67944;
$blue-color: #2677bb;

// ######################## Sitewide #########################
.body-wrapper {
  margin-top: 10%;
}

.btn-primary {
  background-color: $blue-color;
}

// ######################## Index #########################

.side-by-side-container {
  img {
    display: block;
    margin: auto;
  }
}

.question-tile {
  margin: 10rem 0;
  padding: 10rem 4rem;
  border: 3px $orange-color solid;
  border-radius: 1rem;
  .selected-one {
    padding-left: 0;
    padding-right: 0;
    border-left: 15px $blue-color solid;
    border-right: 15px $blue-color solid;
  }
  .selected-two {
    padding-left: 0;
    padding-right: 0;
    border-left: 15px $orange-color solid;
    border-right: 15px $orange-color solid;
  }

  .unclickable {
    pointer-events: none;
  }
  .question-meta {
    height: 50px;
  }
}



// ######################## Navbar #########################
.navbar-custom {
  background-color: $blue-color;

  .navbar-nav > li > a {
    color: $white-color;
  }
  .navbar-brand {
    color: $white-color;
  }
  a.navbar-brand {
    padding-top: 0px;
  }
  .center-navbar {
    position: absolute;
    width: 80%;
    left: 0;
    text-align: center;
    color: $white-color;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.7em;
    line-height: 2.2em;
  }
}

// ######################## Create Question #########################
